* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.minhead
{
display: flex;
justify-content: center;
align-items: center;
height: 40px;
width: 100%;
background-color: black;


}
.minhead ul{
display: flex;
justify-content: center;
align-items: center ;
}
.minhead ul li {
    list-style: none;
    margin-right: 4px;
}
.minhead ul li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-family: sans-serif;
}




.minhead ul li a  ol{
    
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center ;
    }
    .minhead ul li a  ol li {
        
        list-style: none;
        margin-right: 4px;
    }
    .minhead ul li a  ol li a {
        text-decoration: none;
        color: white;
        font-size: 13px;
        font-family: sans-serif;
    }



























.midleheader {
    display: flex;
    width: 100%;
    height: 110px;
}


.midleheader .part1
    {
        display: flex;
        align-items: center;
    
   width: 33.3%;
    }
    
    .midleheader .part1 .fa-solid {
        font-size: 19px;
        margin-left: 12px;
        color: black;
    
    }
    .midleheader .part2
    {
        display: flex;
        justify-content: center;
        align-items: center;
     
    height: 110px;
        width: 33.4%;
    }



    .midleheader .part2 a {
        color: black;
        text-decoration: none;
        font-size: 35px;
        font-family:  sans-serif;
    }
    
    .midleheader .part2 a span {
        color:red;
    }
    .midleheader .part3
    {
        display: flex;
        justify-content: end;
        align-items: center;


    height: 110px;
        width: 33.3%;
    }
    

    .part3  button {
             border: none;
    }

    .part3 button a {
        color: white;
    font-size: 14px;
    text-decoration: none;
    }
    
    .part3 button a #en {
        font-size: 18px;
        padding: 6px 3px 6px 12px;
        color: white;
        background-color: #e12503;
    }
    .part3 a .fa-solid{
        color: black;
        font-size: 24px;
        margin-left: 22px;
    }
    
    .part3 a  .fa-search{
        color: black;
        font-size: 24px;
        margin-left: 22px;
        margin-right: 15px;
    }
    
    .headerbotom {
        display: flex;
background-color: #e12503;
    width: 100%;
    height: 75px;

    }
    .headerbotom .bpart1 {
        
        width: 33.3%;
    }


    .headerbotom .bpart2 {
        
        width: 33.4%;

        display: flex;
        justify-content: center;
     align-items: center;
    }



    
    .headerbotom .bpart2 ul {
        display: flex;
        justify-content: center;
     align-items: center;
    }
    .headerbotom .bpart2 ul li {
        margin: 20px;
        list-style: none;
    }
    .headerbotom .bpart2 ul li a{
     text-decoration: none ;
     font-size: 16px;
     font-family: sans-serif;
     color: white;
    }
    .headerbotom .bpart3 {
        
        width: 33.3%;
    }

    .banner
    {
        display: flex;
        width: 100%;
        height: 600px;
        background-image: url(/css/img/slider.jpg);
    }
    .banner .part1 , .part2 {
width: 50%;
    }
    .banner .part1 {
        display: flex;

        flex-direction: column;
    }
    .banner .part1 .ok1 {
        margin-top: 150px;
        margin-left: 48px;
        font-size:40px;
    }


    .banner .part1 .ok2 {
        margin-top: 15px;
        color: #e12503;
        margin-left: 48px;
        font-size:65px;
    }

    .banner .part1 .ok3 {
        margin-top: 15px;
        color: black;
        margin-left: 48px;
        font-size:15px;
    }

.slider {
    display: grid;
    grid-template-columns: auto auto auto auto;

    background-color: #f7f7f7;
 width: 100%;
 height: 130px;
 


}
.slider .card p {
    font-size: 18px;
    margin-left: 12px;
 display: flex;
 flex-direction: column;

    font-family: sans-serif;

}

.slider .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.slider .card    p span{
    margin-top: 5px;
    font-size: 16px;
    color: #837a83;
 

}



.main {

background-color: white;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center; */
 flex-direction: column;
}
.main .headingpart
{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .headingpart p{
        margin-top: 90px;

    color: black ;
    font-size: 38px;
}


.main .headingpart p span{
    text-decoration-line: underline;
    text-decoration-color: #e12503;
    
    text-decoration-thickness: 9px;
    
   }
   .main .nav {
margin-top: 45px;

width: 100%;
    
    display: flex;
    justify-content: center;
 align-items: center;
}
   .main .nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
   .main .nav ul li {
    list-style: none;
    
}
   
   .main .nav ul li  a{
    
  box-shadow: 1px 1px 1px 1px black;
padding: 15px;
margin: 15px;
background-color: white;
    text-decoration: none;
    font-size: 20px;
    color: black;


}

   
   
    
       
    .main .nav ul li  a:hover{
        padding: 15px;
        margin: 15px;
        background-color: red;
            text-decoration: none;
            font-size: 20px;
            color: white;

        
        
        }
        


.main .carditem {
    margin-top: 65px;
    margin-left: 22px;
    margin-right: 22px;
    display: grid;
grid-template-columns: auto auto auto auto;
grid-column-gap: 33px;
grid-row-gap: 69px;
}
.carditem .card img{
    height: 500px;
    width: 330px;
}
.carditem .card p{
    color: #787a88;
    font-size: 22px;
    margin-top: 13px;
    margin: 12px;
}
.carditem .card a {
    margin: 12px;
    text-decoration: none;
font-size: 25px;
color: black;
}

.carditem .card a:hover {
    color: #e12503;
}


.frstival {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 302px;
    width: 100%;
    height: 580px;
background-color: #f2d5cf;
}
.frstival .clas1 {
    font-size: 49px;
    margin-bottom: 42px;
}

.frstival .clas2 {
    color: #d14031;
    font-size: 82px;
    margin-bottom: 42px;
}

.frstival .clas3 {

    font-size: 29px;
    margin-bottom: 42px;
}


.pragrph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pragrph button{
    border: none;
    padding: 14px 24px 14px 24px;
    background-color: #d14031;

}
.pragrph button a {
text-decoration: none;
color: white;
font-size: 19px;

}

.profiles{
    width: 100%;
}
.profiles .strat {
    margin-top: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profiles .strat p{
    font-size: 35px;
}

.profiles .strat p span{

    text-decoration-line: underline;
    text-decoration-color: #e12503;
    
    text-decoration-thickness: 9px;
    

}

.profiles .profile {
    display: flex;
    align-items: center;
    justify-content: center;


}
.div1 {
    position: relative;
    top: -28PX;
    margin-top: 65px;
    margin-left: 22px;
    margin-right: 22px;
    display: grid;
grid-template-columns: auto auto auto auto;
grid-column-gap: 33px;
grid-row-gap: 69px;
}
.div1 .card1 img{
    height: 350px;
    width: 240px;
}
.div1 .card1 p{
    color: #787a88;
    font-size: 22px;
    margin-top: 13px;
    margin: 12px;
}
.div1 .card1 a {
    margin: 12px;
    text-decoration: none;
font-size: 25px;
color: black;
}

.div1 .card1 a:hover {
    color: #e12503;
}
.div2{
    
    margin-top: 65px;
}
.div3 {
    
    margin-top: 65px;
    
    position: relative;
    top: -82px;
display: grid;
grid-template-columns: auto;
}
.div3 .fulname {
    margin-left: 23px;
    display: flex;
    width: 100%;
}
.div3 .fulname .name {

width: 70%;

}
.div3 .fulname .auther {
    width: 30%;
margin-left: 120px;
}


.div3 .fulname .name p{
    color: black;
    text-decoration-thickness: bold;
    font-size: 24px;
    }
    .div3 .fulname .auther p{
        
    text-decoration-thickness: bold;
        color: black;
        font-size: 24px;
        
    }
    .div3 .para {
        margin-top: 43px;
    margin-left: 23px;
    }

    .div3 .para p{
        font-size: 17px;

    }

.div3 .award {
    margin-top: 44px;
    font-size: 24px;
    margin-left: 24px;
}
.iconaward {
    margin-top: 44PX;
    margin-left: 24px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.ofer {
    display: flex;
    
    background-color: #f4f1f4;
    margin-top: 100px;
    height: 670px;
    width: 100%;
}
.ofer1 {
    width: 50%;
}
.ofer2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.ofer2 .sp{

    margin-top: 185px;

}
.ofer2 .sp p {
    font-family: sans-serif;
    font-size: 45px;
}
.ofer2 .disc p{
    margin-top: 22px;
    font-family:  sans-serif;
font-size: 65px;
color: #e12503  ;
}
.ofer2 .lorm p {
    color: #67748b;
    margin-top: 42px;
    font-size: 19px;
}
.ofer2 .shop {
    margin-top: 23px;
}
.ofer2 .shop button {
    padding: 20px 30px 20px 30px;
    background-color: black;
}
.ofer2 .shop button a {
    text-decoration: none ;
    color: white;
    font-size: 15px;
}
.deal {
    
    margin-top: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.deal p {
    font-size: 38px;
}

.deals {
    
    margin-top: 100px;
    width: 100%;
display: grid;
grid-template-columns: auto auto auto auto;
grid-column-gap: 13px;
grid-row-gap: 23px;

}
.deals .card {
    display: flex;
    align-items: center;   
    flex-direction: column;
}
.deals .card img {
    height: 574px;
    width: 350px;
}
.deals .card p {
margin-top: 23px;
    font-size: 25px;
    font-weight: lighter;
    color: #676767;
}
.deals .card a {
    color: black;

    text-decoration: none;
    margin: 1px;
    font-size: 27px;

}
.deals .card a:hover {
    color: red;
}

.gift {
    width: 100%;
    height: 400px;
    background: url(/css/img/spectacles-on-book.jpg);

}
.gft {
    margin-top: 73px;
display: flex;
flex-direction: column;
    align-items: center;
}

.gft .pop {
    margin-top: 153px;
    font-size: 83px;
    color: blue;
}
.gft .pos {
    font-size: 24px;
    color: black;
padding: 15px;
}
.gft button {
    padding: 19px 33px 19px 33px;
    background-color: red;
    border: none;

}
.gft button a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    }
    .news {
        width: 100%;
        height: 500px;
    }









































































































































        
           
           
         
       




















