* {
    margin: 0;
    padding: 0;
}

body {

    width: 100%;
}

.minhead
{
display: flex;
justify-content: center;
align-items: center;
height: 40px;
width: 100%;
background-color: black;


}
.minhead ul{
display: flex;
justify-content: center;
align-items: center ;
}
.minhead ul li {
    list-style: none;
    margin-right: 4px;
}
.minhead ul li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-family: sans-serif;
}
.minhead ul li a:hover {
    color: red;
}


.midleheader {
    display: flex;
    width: 100%;
    height: 110px;
}


.midleheader .part1
    {
        display: flex;
        align-items: center;
    
   width: 30%;
    }
    
    .midleheader .part1 .fa-solid {
        font-size: 19px;
        margin-left: 12px;
        color: black;
    
    }
    .midleheader .part2
    {
        display: flex;
        justify-content: center;
        align-items: center;
     
    height: 110px;
        width: 30%;
    }



    .midleheader .part2 a {
        color: black;
        text-decoration: none;
        font-size: 35px;
        font-family:  sans-serif;
    }
    
    .midleheader .part2 a span {
        color:red;
    }
    .midleheader .part3
    {
        display: flex;
        justify-content: end;
        align-items: center;


    height: 110px;
        width: 35%;
    }
    

    .part3  button {
             border: none;
    }

    .part3 button a {
        color: white;
    font-size: 14px;
    text-decoration: none;
    }
    
    .part3 button a #en {
        font-size: 18px;
        padding: 6px 3px 6px 12px;
        color: white;
        background-color: #e12503;
    }
    .part3 a .fa-solid{
        color: black;
        font-size: 24px;
        margin-left: 22px;
    }
    
    .part3 a  .fa-search{
        color: black;
        font-size: 24px;
    margin-left:15px;
}
    
    .headerbotom {
        display: flex;
background-color: #e12503;
    width: 100%;
    height: 75px;

    }
    .headerbotom .bpart1 {
        
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    
    .headerbotom .bpart1 a  {
        margin: 15px;
color: white;
font-size: 15px;
padding: 5px 10px;
background-color: #242424;
font-family:'Arial Narrow Bold', sans-serif;
text-decoration: none;
    }



    .headerbotom .bpart2 {
        
        width: 40%;

        display: flex;
        justify-content: center;
     align-items: center;
    }



    
    .headerbotom .bpart2 ul {
        display: flex;
        justify-content: center;
     align-items: center;
    }
    .headerbotom .bpart2 ul li {
        margin: 20px;
        list-style: none;
    }
    .headerbotom .bpart2 ul li a{
     text-decoration: none ;
     font-size: 15px;
     font-family: sans-serif;
     color: white;
    }




    .headerbotom .bpart3 {
        
        width: 20%;
    }

    .banner
    {
        display: flex;
        width: 100%;
        height: 600px;
        background-image: url(/css/img/slider.jpg);
    }
    .banner .part1 , .part2 {
width: 40%;
    }
    .banner .part1 {
        display: flex;

        flex-direction: column;
    }
    .banner .part1 .ok1 {
        margin-top: 150px;
        margin-left: 48px;
        font-size:40px;
    }


    .banner .part1 .ok2 {
        margin-top: 15px;
        color: #e12503;
        margin-left: 48px;
        font-size:65px;
    }

    .banner .part1 .ok3 {
        margin-top: 15px;
        color: black;
        margin-left: 48px;
        font-size:15px;
    }

.slider {
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #f7f7f7;
 width: 99%;
 height: 130px;
 


}
.slider .card p {
    font-size: 18px;
    margin-left: 12px;
 display: flex;
 flex-direction: column;

    font-family: sans-serif;

}

.slider .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.slider .card    p span{
    margin-top: 5px;
    font-size: 16px;
    color: #837a83;
 

}



.main {

background-color: white;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center; */
 flex-direction: column;
}
.main .headingpart
{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .headingpart p{
        margin-top: 90px;

    color: black ;
    font-size: 38px;
}


.main .headingpart p span{
    text-decoration-line: underline;
    text-decoration-color: #e12503;
    
    text-decoration-thickness: 9px;
    
   }
   .main .nav {
margin-top: 45px;

width: 100%;
    
    display: flex;
    justify-content: center;
 align-items: center;
}
   .main .nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
   .main .nav ul li {
    list-style: none;
    
}
   
   .main .nav ul li  a{
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
padding: 15px;
margin: 15px;
background-color: white;
    text-decoration: none;
    font-size: 20px;
    color: black;


}

   
   
    
       
    .main .nav ul li  a:hover{
        padding: 15px;
        margin: 15px;
        background-color: red;
            text-decoration: none;
            font-size: 20px;
            color: white;

        
        
        }
        


.main .carditem {
    margin-top: 65px;
    margin-left: 22px;
    
    display: grid;
grid-template-columns: auto auto auto auto;
grid-column-gap: 23px;
grid-row-gap: 59px;
}
.carditem .card img{
    height: 300px;
    width: 230px;
}
.carditem .card p{
    color: #787a88;
    font-size: 16px;
    margin-top: 9px;
    
}
.carditem .card a {
    
    text-decoration: none;
font-size: 19px;
color: black;
}

.carditem .card a:hover {
    color: #e12503;
}


.frstival {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 102px;
    width: 100%;
    height: 580px;
background-color: #f2d5cf;
}
.frstival .clas1 {
    font-size: 49px;
    margin-bottom: 42px;
}

.frstival .clas2 {
    color: #d14031;
    font-size: 82px;
    margin-bottom: 42px;
}

.frstival .clas3 {

    font-size: 29px;
    margin-bottom: 42px;
}


.pragrph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pragrph button{
    border: none;
    padding: 14px 24px 14px 24px;
    background-color: #d14031;

}
.pragrph button a {
text-decoration: none;
color: white;
font-size: 19px;

}

.profiles .strat {
    margin-top: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profiles .strat p{
    font-size: 35px;
}

.profiles .strat p span{

    text-decoration-line: underline;
    text-decoration-color: #e12503;
    
    text-decoration-thickness: 9px;
    

}

.profiles .profile {
    display: flex;
    align-items: center;
    justify-content: center;


}
.div1 {
    display: grid;
grid-template-columns: auto auto auto auto;
grid-column-gap: 33px;
grid-row-gap: 69px;
padding-left: 14px;
}
.div1 .card1 img{
    height: 170px;
    width: 150px;
}
.div1 .card1 p{
    color: #787a88;
    font-size: 12px;
    margin-top: 13px;
    margin: 12px;
}
.div1 .card1 a {
    margin: 12px;
    text-decoration: none;
font-size: 12px;
color: black;
}

.div1 .card1 a:hover {
    color: #e12503;
}
.div2 img{
    width: 250px;
    margin-top: 65px;
}
.div3 {
    
    margin-top: 165px;
    
display: grid;
grid-template-columns: auto;
}
.div3 .fulname {
    margin-left: 13px;
    display: flex;
    
}
.div3 .fulname .name {

width: 60%;

}
.div3 .fulname .auther {
    width: 20%;
}


.div3 .fulname .name p{
    color: black;
    text-decoration-thickness: bold;
    font-size: 24px;
    }
    .div3 .fulname .auther p{
        
    text-decoration-thickness: bold;
        color: black;
        font-size: 24px;
        
    }
    .div3 .para {
        margin-top: 43px;
    margin-left: 3px;
    }

    .div3 .para p{
        font-size: 11px;

    }

.div3 .award {
    margin-top: 44px;
    font-size: 24px;
    margin-left: 24px;
}
.iconaward {
    margin-top: 44PX;
    margin-left: 24px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.ofer {
    display: flex;
    
    background-color: #f4f1f4;
    margin-top: 50px;
    height: 670px;
  
}
.ofer1 {
    width: 40%;
}
.ofer2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.ofer2 .sp{

    margin-top: 185px;

}
.ofer2 .sp p {
    font-family: sans-serif;
    font-size: 45px;
}
.ofer2 .disc p{
    margin-top: 22px;
    font-family:  sans-serif;
font-size: 65px;
color: #e12503  ;
}
.ofer2 .lorm p {
    color: #67748b;
    margin-top: 42px;
    font-size: 19px;
}
.ofer2 .shop {
    margin-top: 23px;
}
.ofer2 .shop button {
    padding: 20px 30px 20px 30px;
    background-color: black;
}
.ofer2 .shop button a {
    text-decoration: none ;
    color: white;
    font-size: 15px;
}
.deal {
    
    margin-top: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.deal p {
    font-size: 38px;
}

.deals {
    
    margin-top: 100px;
    
display: grid;
grid-template-columns: auto auto auto auto;
grid-column-gap: 61px;
grid-row-gap: 23px;

}
.deals .card {
    display: flex;
    align-items: center;   
    flex-direction: column;
}
.deals .card img {
    height: 374px;
    width: 220px;
}
.deals .card p {
margin-top: 23px;
    font-size: 15px;
    font-weight: lighter;
    color: #676767;
}
.deals .card a {
    color: black;

    text-decoration: none;
    margin: 1px;
    font-size: 17px;

}
.deals .card a:hover {
    color: red;
}

.gift {
    height: 400px;
    background: url(/css/img/spectacles-on-book.jpg);

}
.gft {
    margin-top: 73px;
display: flex;
flex-direction: column;
    align-items: center;
}

.gft .pop {
    margin-top: 153px;
    font-size: 83px;
    color: blue;
}
.gft .pos {
    font-size: 24px;
    color: black;
padding: 15px;
}
.gft button {
    padding: 19px 33px 19px 33px;
    background-color: red;
    border: none;

}
.gft button a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    }
    .news {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .news p {
        margin-top: 109px;
        font-size: 45px;
    }

.news .cards {
    margin-top: 75px;
    display: grid;
    grid-column-gap: 39px;
    grid-template-columns: auto auto auto;
}
.news .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 

}
.news .cards .card img{
    width: 250px;
}

.news .cards .card a{
    text-decoration: none;
    color: black;
    margin-top: 12px;
    font-size: 19px;

}
.news .cards .card a:hover {
    color: red;

}

.news .cards .card .paraph p{
margin: 0;
width: 260px;
    font-size: 12px;
color: #676767;
}
.news .cards .card button {
    margin-left: -233px;
    background-color: red;
    padding: 10px 12px 10px 12px ;
margin-top: 15px;
border: none;
}
.news .cards .card button a{
    text-decoration: none;
    font-size: 12px;
    color: white;
}
.otdiv {
    margin-top: 14px;
    display: flex;
    width: 100%;
}
.one {
    width: 40%;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.two {
    width: 40%;


    display: flex; 
    align-items: center;
    justify-content: center;}


.one span   , .two span {
    margin-left:    23px;
}
.one span   , .two span , .one    , .two {
    font-size: 12px;
}  


.logos {
    margin-top: 75px;
    margin-bottom: 75px;
    height: 200px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);

}

.logos a img {
    height: 104px;
    margin: 73px;
}
.logos a img:hover {
    transition-duration: 2s;
    height: 144px;
}
.searchbar{
margin-bottom: 25px;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
 width: 1300px;
    background-color: #f7f7f7;
}


.searchbar #heading p{
    margin-top: 60px;
    color:#d14031;
    font-size: 34px;
    font-family: sans-serif bold;
}
.searchbar  #mail p{
    margin: 30px;
    color: black;
    font-size: 19px;
    font-weight: lighter;
    font-family: sans-serif;
}
.searchbar #searche {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 30px;
}
.searchbar #search {
    height: 60px;
    width: 660px;
border: red 2px solid;
}
.searchbar #search ::placeholder {
    font-size: 15px;
}
.searchbar button {
    
    padding: 22px 49px 22px 49px ;
    background-color: black;

}
.searchbar button:hover {


    background-color: red;
}


.searchbar button a {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

footer {

    display: flex;
    flex-direction: column;
   background-image: url(css/img/footer_1.jpg);
   
    background-color: #242424;
    width: 100%;

}
.footer {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer  .colom {
    justify-content: flex-start;
    margin-left: 40px;
    margin-top: 100px;
    display: grid;
grid-template-columns: auto auto auto auto;
grid-column-gap: 50px;
}
.footer  .colom #one {
    display: flex;
    flex-direction: column;

}

.footer  .colom #one a{
color: red;
font-size: 44px;
    text-decoration: none;

margin-bottom: 30px;
}


.footer  .colom #one p {
    font-size: 20px;
    margin: 3px;
    color: white;
}
.footer  .colom  #two {
    display: flex;
    flex-direction: column;
margin-left: 150px;
}
.footer  .colom #two p {
margin: 0px;
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}
.footer  .colom #two ul {
    display: flex;
    flex-direction: column;
}
.footer  .colom #two ul li {
    list-style: none;

margin: 5px;}
.footer  .colom  #two ul li a {
text-decoration: none;
font-size: 20px;
color: white;
}

.footer  .colom  #two ul li a:hover {
    color: red;
}






.footer  .colom  #four {
    display: flex;
    flex-direction: column;
margin-left: 124px;
}
.footer  .colom #four p {
margin: 0px;
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}
.footer  .colom #fourul {
    display: flex;
    flex-direction: column;
}
.footer  .colom #four ul li {
    list-style: none;

margin: 5px;}
.footer  .colom  #four ul li a {
text-decoration: none;
font-size: 20px;
color: white;
}

.footer  .colom  #four ul li a:hover {
    color: red;
}






.footer  .colom  #three {
    display: flex;
    flex-direction: column;
margin-left: 124px;
}
.footer  .colom #three p {
margin: 0px;
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}
.footer  .colom #three ul {
    display: flex;
    flex-direction: column;
}
.footer  .colom #three ul li {
    list-style: none;

margin: 5px;}
.footer  .colom  #three ul li a {
text-decoration: none;
font-size: 20px;
color: white;
}

.footer  .colom  #three ul li a:hover {
    color: red;
}



.footer .row {
    display: flex;
    align-items: center;
    justify-content: center;
margin-top: 100px;
margin-bottom: 34px;

}
.footer .row .fa-brands {
color: white;
    margin: 15px;
    font-size: 20px;

}
.footer .row .fa-brands:hover {
    color: red;
}


.copy {
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0 5px 8px rgba(234, 237, 241, 0.979);
    -moz-box-shadow: 0 5px 8px rgb(255, 255, 255);
    box-shadow: 0 5px 8px rgba(247, 248, 250, 0.904);
    width: 100%;
    height: 100px;
}
.copy a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 10px;
}
.copy a:hover {
    color: red;
    transition: 3s;
}
.copy p {

    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;
}





















































































        
           
           
         
       




















